#repo-content{
  display: flex;
  flex-direction: row;
  position: absolute;
  top:4rem;
  width:100%;
  height: calc(100% - 4rem);
}
#left-split,#right-split{
  height:100%;
  min-width: 200px;
  width: 100%;
}
.show{
  display: block;
}
.hide{
  display: none !important;
}
img#start-app-img{
  display: block;
  width: 600px;
  margin: auto;
}