#repo-content{
  display: flex;
  flex-direction: row;
  position: absolute;
  top:4rem;
  width:100%;
  height: calc(100% - 4rem);
}
#left-split{
  height:100%;
  min-width: 230px;
}
#right-split{
  height:100%;
  min-width: 670px;
}
.show{
  display: flex;
}
.hide{
  display: none !important;
}
img#start-app-img{
  display: block;
  width: 600px;
  margin: auto;
}
#login-for-token{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  margin: auto;
}
#login-for-token #username, #login-for-token #password{
  margin:10px;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
}
