#repo-content{
  display: flex;
  flex-direction: row;
  position: absolute;
  top:4rem;
  width:100%;
  height: calc(100% - 4rem);
}
#left-split{
  height:100%;
  min-width: 230px;
}
#right-split{
  height:100%;
  min-width: 670px;
}
.show{
  display: flex;
}
.hide{
  display: none !important;
}
#start-app-container{
  position: relative;
}
img#start-app-img{
  display: block;
  width: 600px;
  margin: auto;
}
#login-for-token{
  background-color: rgb(136, 216, 236);
  padding:20px;
  width: 300px;
  margin: auto;
}
#had-login{
  width: 300px;
  margin: auto
}
#login-for-token h3{
  text-align: center
}
#login-for-token #username, #login-for-token #password{
  margin:5px 0px;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
}
.show-login-container{
  display: block;
}
.hide-login-container{
  display: none
}
