#sider{
  background-color: white;
  height: 100%;
  border-right: solid 1.2px #bbb;
}
#sider #repo-name-container>div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  height: 2rem;
  background-color: #eee;
}
#repo-name{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
#sider #repo-icon{
  width: 20px;
}